{% extends 'home.html' %}

{% block body %}
<h1>Test for everycolorbot color - color name matches</h1>

10 color tweets are sampled at random to tackle the load times.

<table>
<tr>
	<td><div class='blend_title'>Search Color</div></td>
	<td><div class='blend_title'>URL</div></td>
	<td><div class='blend_title'>1st match</div></td>
	<td><div class='blend_title'>1st name</div></td>
	<td><div class='blend_title'>2nd match</div></td>
	<td><div class='blend_title'>2nd name</div></td>
	<td><div class='blend_title'>3rd match</div></td>
	<td><div class='blend_title'>3rd name</div></td>
	<td><div class='blend_title'>4th match</div></td>
	<td><div class='blend_title'>4th name</div></td>
</tr>
{% for n in names %}
<tr>
	<td style="height:40;width:100;margin-left:5px;background-color:{{ n.color }}"></td>
	<td height=40>{{ n.url }}</td>
	<td style="height:40;width:100;margin-left:5px;background-color:{{ n.c1 }}"></td>
	<td height=40>{{ n.n1 }}</td>
	<td style="height:40;width:100;margin-left:5px;background-color:{{ n.c2 }}"></td>
	<td height=40>{{ n.n2 }}</td>
	<td style="height:40;width:100;margin-left:5px;background-color:{{ n.c3 }}"></td>
	<td height=40>{{ n.n3 }}</td>	
	<td style="height:40;width:100;margin-left:5px;background-color:{{ n.c4 }}"></td>
	<td height=40>{{ n.n4 }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}